.wrapper {
  margin-top: calc(100vh * 0.08);

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    .logo-image {
      display: block;
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin-right: 10px;
    }

    .logo-title {
      color: var(--primary-color);
      font-size: 2.5rem;
      margin-bottom: 0;
    }
  }

  .title {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  .sub-title {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .login-form {
    margin-top: 26px;
  }

  .now {
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin-top: 30px;
    .title {
      margin-top: 18px;
    }
  }
}
