.wrapper {
  position: relative;
  padding-top: 758px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    .title {
      display: block;
      font-size: 4rem;
      font-weight: 600;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding-top: 600px;
    .content {
      .title {
        font-size: 2.4rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding-top: 300px;
    .content {
      .title {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .wrapper {
    padding-top: 240px;
    .content {
      .title {
        font-size: 1.6rem;
      }
    }
  }
}
