@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;

  --primary-color: #007456;
  --text-primary: #333;
  --text-second: #555555;
  --header-bg-color: #fff;

  --header-height: 80px;
  --container-width-default: 1170px;
}

@media only screen and (max-width: 1024px) {
  :root {
    --container-width-default: 924px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --container-width-default: 720px;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --container-width-default: 393px;
    --header-height: 70px;
  }
}

@media only screen and (max-width: 376px) {
  :root {
    --container-width-default: 343px;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --container-width-default: 288px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family) !important;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text-primary);
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.text-default {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-primary);
}

.full-width {
  width: 100%;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.tag {
  font-size: 12px !important;
  width: fit-content;
  line-height: 1.6;
}

// Overide antd css
.mj-btn {
  box-shadow: none !important;
}

.mj-collapse-header {
  display: flex;
  align-items: center;
}

.mj-menu-horizontal,
.mj-menu-item::after,
.mj-menu-submenu::after {
  border: none !important;
}

.mj-upload-list.mj-upload-list-text {
  display: none !important;
}

.mj-upload.mj-upload-select {
  width: 100%;
}

.mj-typography p {
  margin-bottom: 0;
}

.mj-modal-footer {
  margin-top: 0 !important;
}

.mj-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mj-table-middle {
  font-size: 1.4rem !important;
}

// Overide quill css
.ql-toolbar.ql-snow {
  border: 1px solid #d9d9d9 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ql-container.ql-snow {
  border: 1px solid #d9d9d9 !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 1.6rem;
  font-family: var(--font-family) !important;
  min-height: 100px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0 !important;
}
