.btn-delete {
  margin-left: 8px;

  @media only screen and (max-width: 1024px) {
    margin-left: 0;
    margin-top: 4px;
  }
}

.tag {
  font-size: 12px !important;
  width: fit-content;
  line-height: 1.6;
}

.job-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 14px;
}

.salary {
  display: flex;
  gap: 8px;
}
