.wrapper {
  display: flex;
  flex-direction: column;

  .employer {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f5f5;

    .inner {
      width: var(--container-width-default);

      .title {
        font-weight: 500;
        color: var(--primary-color);
      }

      .heading {
        display: block;
        font-size: 3rem;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .heading-2 {
        display: block;
        font-size: 2.8rem;
        font-weight: 500;
        margin-bottom: 20px;
        text-align: left;
      }

      .item {
        text-align: left;
        margin-top: 10px;

        .icon {
          color: rgb(10, 179, 5);
          margin-right: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    .employer {
      padding: 30px 20px;
      .inner {
        .heading {
          font-size: 2.4rem;
        }
        .heading-2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .employer {
      padding: 30px 20px;
      .inner {
        .heading {
          font-size: 2rem;
        }
        .heading-2 {
          font-size: 1.8rem;
        }
        .image-user {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .wrapper {
    .employer {
      .inner {
        .heading {
          font-size: 1.6rem;
        }
        .heading-2 {
          font-size: 1.6rem;
        }
        .image-user {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
