.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  padding: 8px 30px 8px 8px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: none;
  }

  .info {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 14px;
      font-weight: 500;
    }

    .message {
      font-size: 12px;
      font-weight: 500;
      color: var(--text-second);
    }
  }
}
