.wrapper {
  display: flex;
  justify-content: center;
  height: var(--header-height);
  border-bottom: 1px solid #e9eaec;
  background-color: var(--header-bg-color);
  padding: 0 24px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width-default);

    .left {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 50%;

      .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 20px;

        .image {
          width: 32px;
          height: 32px;
          margin-right: 10px;
        }

        .logo-text {
          font-size: 2.5rem;
          color: var(--primary-color);
          margin-bottom: 0;
        }
      }

      .mobile-menu_bar {
        display: none;
      }
    }

    .right {
      .button {
        margin-left: 12px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .container {
      .left {
        .navigation-bar {
          display: none;
        }
        .mobile-menu_bar {
          display: unset;
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .wrapper {
    padding: 0 16px;
    .container {
      .left {
        min-width: unset;
        .logo {
          margin-right: 8px;
        }
        .logo-text {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .wrapper {
    .container {
      .right {
        .button {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .wrapper {
    .container {
      .right {
        .button {
          margin-left: 8px;
          font-size: 1.1rem;
        }
      }
    }
  }
}
