.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}

.value {
  font-size: 18px;
}

.table {
  margin-top: 20px;
}

.btn-delete {
  margin-left: 8px;

  @media only screen and (max-width: 1024px) {
    margin-left: 0;
    margin-top: 4px;
  }
}
