.btn-delete {
  margin-left: 8px;

  @media only screen and (max-width: 1024px) {
    margin-left: 0;
    margin-top: 4px;
  }
}

.sendBy {
  display: flex;
  gap: 13px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h5 {
      font-weight: 600;
    }
  }
}

.tag {
  font-size: 12px !important;
  width: fit-content;
  line-height: 1.6;
}

.job-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 14px;
}

.email {
  display: flex;
  gap: 8px;
  font-size: 14px;
}
