.wrapper {
  margin-top: 30px;

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    .logo-image {
      display: block;
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin-right: 10px;
    }

    .logo-title {
      color: var(--primary-color);
      font-size: 2.5rem;
      margin-bottom: 0;
    }
  }

  .title {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 8px;
  }

  .sub-title {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .regulations {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
  }

  .sign-up-form {
    margin-top: 26px;

    .account-title {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .lineY {
        width: 3px;
        height: 24px;
        margin-right: 8px;
        background-color: var(--primary-color);
      }
    }
  }

  .now {
    color: var(--primary-color);
  }
}
