.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  padding: 16px;

  .inner {
    display: flex;
    justify-content: center;

    .container {
      width: 570px;
    }
  }

  .copyright {
    text-align: center;
  }
}
